body {
  font-family: sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
}

#start {
  display: flex;
  flex-direction: flex-start;
  position: absolute;
}

#center {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 728px;
  min-width: 0px;
}

#end {
  display: flex;
  flex-direction: row;
  min-width: 225px;

  align-items: center;

  justify-content: flex-end;
}
/* #search-bar {
  padding: 2px;
}
#search-input {
  background: hsl(0, 0%, 100%);
  width: 644px;
  border: 1px solid #ccc;
  padding: 2px 6px;
  border-radius: 2px 0px;
  box-shadow: inset 0px 1px 2px #eee;
}

#search-btn {
  background: #f9f9f9;
  height: 40px;
  width: 64px;
  display: block;
  position: absolute;
} */
